
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.subheader {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.subheaderMain {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50px;
    color: rgb(237, 236, 236);
    padding: 20px;
    margin: 20px;
    background-color: #1e1d1d;
}

.subheader span {
    font-weight: bold;
    cursor: pointer;
}

.subheader span:hover{
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #e5f5f8;
    color: #1e1d1d;
    border-radius: 20px;
    text-align: center;
}


.activeTag{
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #e5f5f8;
    color: #1e1d1d;
    border-radius: 20px;
    text-align: center;
}

.activeTag:hover{
    background-color: rgb(255, 255, 255);
}





.content-box {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #e6eae6;
    -webkit-box-shadow: -2px -1px 18px 2px rgba(168, 161, 168, 0.76);
    -moz-box-shadow: -2px -1px 18px 2px rgba(168, 161, 168, 0.76);
    box-shadow: -2px -1px 18px 2px rgba(168, 161, 168, 0.76);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    overflow-y: scroll;
    max-height: 450px; /* Set a fixed height to enable scrolling */
    overflow-y: auto; 
}

.subContent-BoxContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  

}

.subContent-Box {
    width: 100%;
}



.request-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 10px;
    height: 150px;
    border: 1px solid #b8b5b5;
    border-radius: 20px;
    -webkit-box-shadow: -2px -1px 27px -9px rgba(168, 161, 168, 0.76);
    -moz-box-shadow: -2px -1px 27px -9px rgba(168, 161, 168, 0.76);
    box-shadow: -2px -1px 27px -9px rgba(168, 161, 168, 0.76);
    background-color: #f8f6f6;
    color: rgb(42, 40, 40);
}



.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-photo {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.user-details {
    flex-grow: 1;
    padding: 0 20px;
}

.actions {
    display: flex;
    gap: 10px;
}

.accept-btn,
.view-btn,
.danger-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-btn {
    background-color: #5cc860;
    color: #fff;
}

.view-btn {
    background-color: #54a9ee;
    color: #fff;
}

.danger-btn{
    background-color: rgb(235, 101, 77);
    color: #ddd;
}

.subHeaderMain2{
   display: flex; 
   align-items: center;
   justify-content: space-between;
   background-color: rgb(19, 19, 19);
   border-top-left-radius: 10px;
   border-top-right-radius: 25px;
   
}

.chatMenu{
    flex: 3.5;
    height: 69.5vh;
    
}

.chatBox{
    flex: 5.5;
    height: 69.5vh;

}

.chatOnline{
    flex: 3;
    height: 69.5vh;

}

.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    height: 100%;

}

.chatMenuInput{
    width: 90%;
    padding: 10px 0p;
    border: none;
    text-align:left;
    border-radius: 5px;
    border-bottom: 1px solid rgb(237, 230, 230);

}

.chatMenuWrapper{
    overflow-y: scroll;
    scrollbar-width:thin;
  
}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
}

.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-right: 10px;
}
.conversation{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
   
}
.conversation:hover{
    background-color: #454242;
    color: #1e1d1d;
    border-radius: 5px;
}
.conversationImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.conversationName{
    font-weight: 500;
    color: #ddd;
}

.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.messageTop{
    display: flex;
}
.messageImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    padding: 10px;
    border-radius: 20px;
    background-color: #4a6276;
    color: rgb(247, 244, 244);
    max-width: 420px;
}

.messageBottom{
    font-size: 12px;
    font-weight: 400;
    margin-top: 7px;
    color: #6d6a6a;
}

.message.own{
    align-items: end;
}

.message.own .messageText{
    background-color: #2f2e2e;
}

.ChatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
    border-radius: 20px;
}



.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #2f2e2e;
    color: white;
}

.chatOnlineWrapper{
    overflow-y: scroll;
    scrollbar-width: thin;
}

.chatOnlineHeading{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}



.chatOnlineFriend{
    display: flex;
    align-items: center;
    font-weight: 400;
    cursor: pointer;
    margin-top: 25px;
}

.chatOnlineImgContainer{
    position: relative;
}

.chatOnlineBadge{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(102, 206, 102);
    position: absolute;
    top: 2px;
    left: 45px;
}

.chatOnlineImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chatOnlineName{
    margin-left: 10px;
    color: white;
}